/* ===== Fuentes base ===== */
:root {
    --font-names: 'Imperial Script', cursive;
    --font-romantic: 'Allura', cursive;
    --font-text: 'Playfair Display', serif;
}

/* ===== Reset básico elegante ===== */
body {
    margin: 0;
    font-family: var(--font-text);
    background-color: #faf8f5;
    color: #3a3a3a;
}

/* ===== Secciones ===== */

/* Banner / títulos principales */
.banner-title {
    font-family: var(--font-names);
    font-size: 72px;
    line-height: 1.1;
    text-align: center;
    color: white;
}

@media (min-width: 720px) {
    .banner-title {
        padding-top: 120px;
    }
}

/* Nombres de los novios (PROTAGONISTAS) */
.couple-names {
    font-family: var(--font-names);
    font-size: 88px;
    line-height: 1.05;
    text-align: center;
    margin: 40px 0;
}

/* & entre los nombres */
.ampersand {
    font-family: var(--font-text);
    font-size: 36px;
    display: block;
    margin: 12px 0;
}

/* Saludos y mensajes */
.romantic-text {
    font-family: var(--font-romantic);
    font-size: 28px;
    line-height: 1.4;
    text-align: center;
    margin: 24px 0;
}

/* Información: padres, fecha, lugar */
.info-text {
    /*font-family: var(--font-text); */
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
}

.info-text-hight {
    font-family: var(--font-text);
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
}

.info-text-variant {
    font-family: var(--font-text);
    font-size: 14px;
    text-align: center;
    margin: 5px;
}

/* Fecha destacada */
.date-highlight {
    font-family: var(--font-text);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 5px;
}

.date-highlight-variant {
    font-family: var(--font-text);
    font-size: 28px;
    font-weight: 550;
    letter-spacing: 0.6px;
  padding-top: 30px;   /* más espacio arriba */
  padding-bottom: 10px;
  margin: 10px 0;
}

/* Firma final */
.signature {
    font-family: var(--font-names);
    font-size: 56px;
    text-align: center;
}

/* ===== Responsive ===== */
@media (max-width: 768px) {
    .banner-title {
        font-size: 48px;
    }

    .couple-names {
        font-size: 60px;
    }

    .romantic-text {
        font-size: 22px;
    }

    .signature {
        font-size: 42px;
    }
}

/* ===== Utilidades Globales ===== */
.img-fade-y {
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 15%, black 85%, transparent 100%);
    mask-image: linear-gradient(to bottom, transparent 0%, black 15%, black 85%, transparent 100%);
}
